.section-two{
    background-color: #16181b;
}

.section-two .container {
    width: 100%;
    max-width: none;
    padding: 25px;
}


.breadcrumb-item + .breadcrumb-item::before {
    color: white;
    content: '>';
}

.breadcrumb-item a {
    color: white;
    transition: 0.3s color;
}

.breadcrumb-item a:hover {
    color: #98ffbc;
}

.breadcrumb-item.active {
    color: #09eb58;
}

.accordion-button{
    font-size: 11pt;
}

.accordion{
    font-size: 10pt;
}


.game-card, .xbox-gamepass{
    border: 1px solid rgba(211, 210, 210, 0.1);
    padding: 5px;
}

:root {
    --bs-border-radius: 0;
}

.game-card img, .xbox-gamepass img{
    max-height: 250px;
    border-radius: var(--bs-border-radius);
}

.game-card p, .xbox-gamepass p{
    text-align: justify;
}

.game-card a, .xbox-gamepass a{
    text-decoration: none;
}

@media(min-width: 576px){
    .need-margin{
        margin-left: 30px;
    }
}

@media(max-width: 575px){
    .need-margin{
        margin-top: 20px;
    }
}