.section-two{
    background-color: #16181b;
}

.section-two .container {
    width: 100%;
    max-width: none;
    padding: 25px;
}


.breadcrumb-item + .breadcrumb-item::before {
    color: white;
    content: '>';
}

.breadcrumb-item a {
    color: white;
    transition: 0.3s color;
}

.breadcrumb-item a:hover {
    color: #98ffbc;
}

.breadcrumb-item.active {
    color: #09eb58;
}


.btn-success{
    background-color: #09A13E;
    width: 240px;
}

.btn-success:hover{
    background-color: #04772c;
}

.form-group{
    font-size: 14pt;
}

.form-input{
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    width: 380px;
}

.register-done-section{
    height: 50vh;
}

.text-red{
    color: red;
}