{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-agreement.css' %}">
{% endblock %}
{% block content %}


<section class="section-one">
    <div class="container">
    </div>
</section>
<section class="section-two">
    <div class="container">
        <div class="row d-none d-lg-block">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="section-three text-white">
    <div class="container">
        <div class="row">
            <h2 class="col-12 mt-2">
                Политика конфиденциальности
            </h2>
            <h3 class="mt-5">
                1. Общие положения
            </h3>
            <p>1.1 Настоящая политика в области обработки персональных данных (далее — Политика) направлена на защиту прав и свобод физических лиц, персональные данные которых обрабатывает Администрация Сайта (далее — Оператор).</p>
            <p>1.2 Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных» (далее — ФЗ «О персональных данных»).</p>
            <p>1.3 Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом, размещенном на сайте Оператора - https://xbox-game-store.ru/privacy.</p>
            <p>1.4 Контактные данные оператора:</p>
            <p>- Электронная почта: support@xbox-game-store.ru</p>
            <p>- Адрес интернет-сайта: xbox-game-store.ru</p>
            <p>1.5 Настоящая Политика действует в отношении всей информации, размещенной на интернет-сайте по адресу xbox-game-store.ru (далее - Сайт), информации о Пользователе, а также в отношении персональных данных работников Оператора, его контрагентов и иных субъектов персональных данных, информация о которых обрабатывается Оператором.</p>
            <p>1.6 Любое использование Сайта означает безоговорочное Согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных.</p>
            <p>1.7 В случае несогласия с этими условиями, Пользователь должен воздержаться от использования Сайта и ни в коем случае не предоставлять Оператору свои персональные данные.</p>
            <h3 class="mt-4">
                2. Используемые термины и определения
            </h3>
            <p>2.1 Персональные данные - любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).</p>
            <p>2.2 Оператор - физическое лицо, самостоятельно или совместно с другими лицами организующее и (или) осуществляющее обработку персональных данных, а также определяющее цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
            <p>2.3 Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>2.4 Предоставление персональных данных - действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</p>
            <p>2.5 Уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</p>
            <p>2.6 Блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</p>
            <p>2.7 Пользователь – любое физическое лицо, которое находится на Сайте и выполняет любые действия на нем, в том числе приобретает товары или получает услуги, заполняет форму обратной связи либо иным образом, вступающее в отношения с Оператором (электронная почта и т.д.). Пользователь является субъектом персональных данных.</p>
            <h3 class="mt-4">
                3. Цели обработки персональных данных
            </h3>
            <p>3.1 Оператор осуществляет обработку персональных данных для следующих целей:</p>
            <p>3.1.1 для исполнения договора, стороной которого либо выгодоприобретателем или поручителем является субъект персональных данных;</p>
            <p>3.1.2 для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;</p>
            <p>3.1.3 для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на Оператора функций, полномочий и обязанностей.</p>
            <h3 class="mt-4">
                4. Правовое основание обработки персональных данных
            </h3>
            <p>4.1 Правовым основанием обработки персональных данных является:</p>
            <p>4.1.1 Законодательство Российской Федерации в области персональных данных, основанное на Конституции Российской Федерации и международных договорах Российской Федерации и состоящее из ФЗ «О персональных данных» и других федеральных законов, определяющих случаи и особенности обработки персональных данных;</p>
            <p>4.1.2 Согласие на обработку персональных данных, которое Пользователь предоставляет путем акцепта настоящей Политики или подписания его в письменной форме при заключении договоров с Оператором;</p>
            <p>4.1.3 Настоящая Политика;</p>
            <p>4.1.4 Пользовательское соглашение Сайта.</p>
            <h3 class="mt-4">
                5. Категории субъектов персональных данных и состав персональных данных
            </h3>
            <p>5.1 К категориям субъектов персональных данных, чьи персональные данные обрабатываются Оператором, относятся:</p>
            <p>5.1.1 физические лица, состоящие в трудовых и гражданско-правовых отношениях с Оператором;</p>
            <p>5.1.2 физические лица, состоящие в трудовых и гражданско-правовых отношениях с контрагентами Оператора;</p>
            <p>5.1.3 субъекты персональных данных, приобретающие товары или получающие услуги на Сайте.</p>
            <p>5.2 По всем категориям субъектов персональных данных, персональные данные обрабатываются Оператором в рамках правоотношений с Оператором, урегулированных Гражданским Кодексом Российской Федерации, Трудовым Кодексом Российской Федерации и другим законодательством Российской Федерации.</p>
            <p>5.3 По всем категориям субъектов персональных данных персональные данные обрабатываются Оператором с согласия субъектов персональных данных, предоставляемого либо в письменной форме, либо при совершении конклюдентных действий на Сайте, включая заказ обратного звонка и (или) отправки сообщения на электронную почту Оператора, указанную в п. 1.4. Политики.</p>
            <p>5.4 При оплате при помощи Mastercard, Visa или иной платежной системы Оператор использует для обработки платежных данных сервис, который берет на себя проведение платежа. Оператор не собирает, не обрабатывает и не сохраняет платежную информацию, такую как реквизиты счета или данные кредитных карт, в собственных системах.</p>
            <p>5.5 Оператор обрабатывает следующие персональные данные субъектов персональных данных:</p>
            <p>5.5.1 Фамилия, имя, отчество;</p>
            <p>5.5.2 Электронная почта;</p>
            <p>5.5.3 Иная информация, указанная субъектом персональных данных на Сайте;</p>
            <p>5.5.4 Данные, автоматически передающиеся Оператору в процессе посещения и использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения, в том числе: IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту), время доступа, адрес запрашиваемой страницы и иные.</p>
            <p>5.6 Оператором могут обрабатываться иные персональные данные, непосредственно необходимые для выполнения целей обработки персональных данных и предоставленные Пользователем.</p>
            <h3 class="mt-4">
                6. Сроки обработки и хранения персональных данных
            </h3>
            <p>6.1 Оператор обрабатывает и хранит персональные данные до достижения оператором целей обработки персональных данных или до утраты необходимости в достижении этих целей.</p>
            <h3 class="mt-4">
                7. Сведения об обработке персональных данных
            </h3>
            <p>7.1 Оператор обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора, работников Оператора и третьих лиц.</p>
            <p>7.2 Оператор получает персональные данные непосредственно у субъектов персональных данных.</p>
            <p>7.3 Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.</p>
            <p>7.4 Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.</p>
            <p>7.5 Базы данных информации, содержащей персональные данные граждан Российской Федерации, находятся на территории Российской Федерации.</p>
            <h3 class="mt-4">
                8. Сведения об обеспечении безопасности персональных данных
            </h3>
            <p>8.1 Оператор назначает ответственного за организацию обработки персональных данных для выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.</p>
            <p>8.2 Оператор применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий:</p>
            <p>8.2.1 обеспечивает неограниченный доступ к Политике, копия которого размещена на Сайте;</p>
            <p>8.2.2 во исполнение Политики разрабатывает локальные нормативные акты;</p>
            <p>8.2.3 производит ознакомление своих работников с положениями законодательства о персональных данных, а также с Политикой и иными локальными нормативными актами, которые принимаются для ее исполнения;</p>
            <p>8.2.4 осуществляет допуск работников к персональным данным, обрабатываемым в информационной системе Оператора, а также к их материальным носителям только для выполнения трудовых обязанностей;</p>
            <p>8.2.5 устанавливает правила доступа к персональным данным, обрабатываемым в информационной системе Оператора, а также обеспечивает регистрацию и учёт всех действий с ними;</p>
            <p>8.2.6 производит оценку вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных», соотношение указанного вреда и принимаемых Оператором мер, направленных на обеспечение выполнения обязанностей, предусмотренных указанным федеральным законом;</p>
            <p>8.2.7 производит определение угроз безопасности персональных данных при их обработке в информационной системе Оператора;</p>
            <p>8.2.8 применяет организационные и технические меры и использует средства защиты информации, необходимые для достижения установленного уровня защищенности персональных данных;</p>
            <p>8.2.9 осуществляет обнаружение фактов несанкционированного доступа к персональным данным и принимает меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;</p>
            <p>8.2.10 производит оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы Оператора;</p>
            <p>8.2.11 осуществляет внутренний контроль соответствия обработки персональных данных ФЗ «О персональных данных», принятыми в соответствии с ними другими нормативными правовыми актами, требованиям к защите персональных данных, Политике и иным локальным нормативным актам, включающим контроль за принимаемыми мерами по обеспечению безопасности персональных данных и их уровня защищенности при обработке в информационной системе Оператора.</p>
            <h3 class="mt-4">
                9. Права субъектов персональных данных
            </h3>
            <p>9.1 Субъект персональных данных имеет право:</p>
            <p>9.1.1 на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;</p>
            <p>9.1.2 на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;</p>
            <p>9.1.3 на отзыв данного им согласия на обработку персональных данных;</p>
            <p>9.1.4 на защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в судебном порядке;</p>
            <p>9.1.5 на обжалование действий или бездействий Оператора в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.</p>
            <p>9.2 Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору либо направить запрос лично или с помощью представителя, в том числе по электронной почте.</p>
            <p>9.3 Запрос должен содержать сведения, указанные в ч. 3, 7 ст. 14 ФЗ «О персональных данных» и должен быть направлен по адресу электронной почты, указанному в п.1.4. Политики.</p>
            <h3 class="mt-4">
                10. Заключительные положения
            </h3>
            <p>10.1 Оператор вправе вносить изменения в настоящую Политику без согласия Пользователя.</p>
            <p>10.2 Новая редакция Политики вступает в силу с момента ее опубликования на Сайте, если иное не предусмотрено новой редакцией Политики.</p>
            <p>10.3 Все предложения или вопросы по настоящей Политике следует направлять по адресу электронной почты, указанному в п.1.4. Политики.</p>
            <p>10.4 Действующая Политика размещена на странице Сайта по адресу: https://xbox-game-store.ru/privacy.</p>
            <p>10.5 Неотъемлемой частью настоящей Политики является Согласие на обработку персональных данных, размещенное на Сайте.</p>
            <p>10.6 Настоящая Политика действует непосредственно и взаимосвязано с Пользовательским соглашением, размещенным на Сайте.</p>
        </div>
    </div>
</section>
{% endblock %}