<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Ваш текущий отзыв</h2>

<div style="background: lightblue;">
    <p>{{ feedback.text }}</p>
    <p>{{ feedback.date_created }}</p>
</div>

<h2>Отредактировать: </h2>
<form method="POST" action="/pets/edit_feedback/{{ feedback.id }}/">
     {% csrf_token %}
    <textarea name="feedback"></textarea>
    <br>
    <input type="submit" value="отправить">
</form>

</body>
</html>