<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/fbstyle.css' %}" />
</head>
<body>
<h2>Ваш отзыв</h2>
<form method="POST" action="/pets/feedback/">
     {% csrf_token %}
    <textarea name="feedback" id="fb" class="fb"></textarea>
    <br>
    <input type="submit" value="отправить" id="fb_submit" class="fb_submit">
</form>

{% if feedback %}
    <h2>Отзывы</h2>

    {% for item in feedback %}
    <div style="background: lightblue;" id="{{ item.id }}">
        <p>{{ item.text }}</p>
        <p>{{ item.date_created }}
            <span style="color: gray; font-size: 10pt;">
                {% if item.update is True %} (Отредактировано {{ item.update_date }}) {% endif %}
            </span>
        </p>
        <a href="../edit_feedback/{{ item.id }}"><button>редактировать</button></a>
        <a href="../delete_feedback/{{ item.id }}"><button>удалить</button></a>
    </div>
    {% endfor %}
{% endif %}


    <script src="{% static 'js/fbscript.js' %}"></script>
</body>
</html>