{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-login.css' %}">
<link rel="stylesheet" href="{% static 'css/style-navbar-other.css' %}">
{% endblock %}
{% block content %}
{% include 'store/includes/navbar.html' %}

<section class="section-one">
    <div class="container">
    </div>
</section>

<section class="section-two text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 xbox-auth d-flex flex-column justify-content-center align-items-center mb-5 register-done-section">
                <h1 class="mb-5">Пароль успешно изменен!</h1>
                <p class="form-group">Поздравляем! Вы успешно изменили пароль своего аккаунта.</p>
                <p>Воспользуйтесь новым паролем для того, чтобы <a href="{% url 'users:login' %}">войти в систему</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}