{% extends 'base.html' %}
{% load static %}
{% load truncatechars %}
{% load class_name %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-profile.css' %}">
<link rel="stylesheet" href="{% static 'css/style-navbar-other.css' %}">
{% endblock %}
{% block content %}
{% include 'store/includes/navbar.html' %}

<section class="section-one">
    <div class="container">
    </div>
</section>

<section class="section-two">
    <div class="container">
        <div class="row d-none d-lg-block">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
        <h1 class="mt-5 text-white">{{ title }}</h1>
    </div>
</section>

<section class="section-three">
    <div class="container">
        <div class="row text-white">
            <div id="cart-detail" class="col-xl-8 col-12 table-responsive">
                <h2 class="pb-4">Корзина <span><img src="{% static 'img/icon/cart2.png' %}" alt="" width="40"></span></h2>
                {% if cart.items.exists %}
                <table class="table table-dark">
                    <thead>
                        <tr class="table-active">
                            <th>
                                НАИМЕНОВАНИЕ
                            </th>
                            <th class="dnone">
                                ЦЕНА
                            </th>
                            <th>
                                КОЛИЧЕСТВО
                            </th>
                            <th class="dnone">
                                СТОИМОСТЬ
                            </th>
                            <th class="dnone">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'game' item.product.id %}">
                                    <img src="{{ item.product.banner_image.url }}" alt="{{ item.product.title }}" width="70" class="dnone">
                                    <span class="game-title">{{ item.product.title|truncatechars:22 }}</span>
                                </a>
                            </td>
                            <td class="dnone">
                                {{ item.product.price }} ₽
                            </td>
                            <td>
                                <a href="{% url 'orders:decrease' item.product.id %}" class="btn-container">
                                    <button type="button" class="btn btn-dark">-</button>
                                </a>
                                <span class="quantity">{{ item.quantity }}</span>
                                <a href="{% url 'orders:increase' item.product.id %}" class="btn-container">
                                    <button type="button" class="btn btn-dark">+</button>
                                </a>
                            </td>
                            <td class="dnone">
                                {{ item.get_total_price }} ₽
                            </td>
                            <td class="dnone">
                                <form action="{% url 'orders:remove_from_cart' item.product.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-close" aria-label="Удалить"></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col d-flex flex-column justify-content-end align-items-start align-items-lg-end">
                    <p class="small-text">Итого: <span class="big-text">{{ cart.get_total_price }}₽</span></p>
                    <a href="{% url 'payment:cart_pay' cart.id %}" title="...">
                        <button type="button" class="btn btn-success btn-lg">
                            ОФОРМИТЬ
                        </button>
                    </a>
                </div>

                {% else %}
                <h5 class="need-margin">Ваша корзина пока пуста 😞</h5>
                <p class="need-margin">Предлагаем перейти в <a href="{% url 'catalog' %}">каталог</a> и ознакомиться с нашим списком игр. <br>Гарантируем, он не оставит вас без внимания!</p>
                {% endif %}


                {% if purchases.exists %}
                <h2 class="pt-5">Ваши покупки ({{ purchases.count }}):</h2>
                {% for purchase in purchases %}
                <hr>
                <table class="table table-dark caption-top purchase">
                    <caption class="text-white small-text">{{ purchase.created_at }}. Сумма покупки: <span class="big-text">{{ purchase.get_total_price }}₽</span></caption>
                    <thead>
                        <tr class="table-active">
                            <th width="100">
                                НАИМЕНОВАНИЕ
                            </th>
                            <th class="dnone" width="100">
                                ЦЕНА
                            </th>
                            <th width="100">
                                КОЛИЧЕСТВО
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in purchase.items.all %}
                        <tr>
                            <td>
                                {% if item.content_object|class_name == 'Game' %}
                                <a href="{% url 'game' item.content_object.id %}">
                                    <span class="game-title">{{ item.content_object.title|truncatechars:30 }}</span>
                                </a>
                                {% elif item.content_object|class_name == 'GamePass' %}
                                <a href="{% url 'gamepass' %}">
                                    <span class="game-title">Game Pass {{ item.content_object.title|truncatechars:30 }}</span>
                                </a>
                                {% endif %}
                            </td>
                            <td class="dnone">
                                {{ item.content_object.price }}₽
                            </td>
                            <td>
                                {{ item.quantity }} шт.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
                <hr>
                {% endif %}
            </div>




            <div class="col-xl-4 col-12 xbox-auth d-flex flex-column align-items-center">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />

                    {% for field in form %}
                    <div class="form-group d-flex flex-column align-items-center mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <div class="row">
                            <div class="col-12 xbox-auth d-flex flex-column align-items-center">
                                <p class="mt-2 text-red">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% if form.non_field_errors %}
                <p class="mt-2 text-red">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </p>
                {% endif %}
                <div class="form-group text-center mt-4">
                    <button type="submit" class="buy-btn btn btn-success btn-lg">Изменить</button>
                </div>
                <div class="form-group text-center mt-4">
                    <a href="{% url 'users:password_change' %}">
                        <p>Сменить пароль<p>
                    </a>
                </div>
                </form>
                <div class="form-group text-center mt-4">
                    <a href="{% url 'users:logout' %}"><button type="submit"
                            class="buy-btn btn btn-success btn-lg">Выйти из профиля</button></a>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}