.navbar{
    background-color: #1D1F22;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}


.login-button{
    background-color: #09A13E;
    font-size: 13pt;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #04772c;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 13pt;
    position: relative;
}

.nav-link:hover{
    color: #09A13E;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #09A13E;
}

@media(min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #09A13E;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.section-one{
    background: url(../img/404.webp) no-repeat center;
    background-size: cover;
    width: 100%;
}

.section-one::before{
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.section-one .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.offcanvas{
    background-color: #1D1F22;
}

.section-one .container p{
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 1.5px 2.5px 3px #000;
}

.section-one .container h1{
    font-weight: bold;
    text-shadow: 1.5px 2.5px 3px #000;
}
