{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-agreement.css' %}">
{% endblock %}
{% block content %}


<section class="section-one">
    <div class="container">
    </div>
</section>

<section class="section-two">
    <div class="container">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section-three text-white">
    <div class="container">
        <div class="row">
            <h2 class="col-12 mt-2 mb-5">
                СОГЛАШЕНИЕ
            </h2>
            <p class="text-justify">
                Настоящее Пользовательское соглашение (далее по тексту – «Соглашение») является публичной офертой,
                в соответствии со статьей 435 и пунктом 2 статьи 437 Гражданского Кодекса РФ, и заключается между <br><br>
                - Администрацией Сайта xbox-game-store.ru (далее по тексту – «Администрация Сайта»), с одной стороны, и <br>
                - пользователем указанного Сайта – дееспособным физическим лицом, достигшим возраста 18 (Восемнадцати) лет,
                или юридическое лицо (далее по тексту именуемый – «Пользователь»), с другой стороны, <br><br>
                совместно именуемые «Стороны», а по отдельности - «Сторона», о нижеследующем:
            </p>
            <h3 class="mt-4">
                Термины и определения
            </h3>
            <p><b>Администрация Сайта </b> - XBOX Game Store (xbox-game-store.ru)</p>
            <p><b>Эл. почта:</b> support@xbox-game-store.ru</p>
            <p><b>Акцепт</b> – полное и безоговорочное принятие соглашения Пользователем путем осуществления действий по принятию её положений с помощью сервиса Сайта (проставления знака «галочка» в соответствующем поле).</p>
            <p><b>Пользовательское соглашение</b> или <b>соглашение</b> – публичное предложение Администрации Сайта о заключении лицензионного договора о приобретении Товаров дистанционным способом.</p>
            <p><b>Пользователь</b> - лицо, имеющее доступ к Сайту посредством сети Интернет. Пользователем может быть полностью дееспособное физическое лицо.</p>
            <p><b>Товар</b> – лицензии (ключи активации) компьютерных игр и иные «цифровые» товары, сведения о которых содержатся на Сайте.</p>
            <p><b>Заказ</b> - запрос Пользователя на получение Товара, оформленный в соответствии с требованиями Сайта.</p>
            <p><b>Сайт</b> – интернет-сайт, расположенный в сети Интернет по адресу https://xbox-game-store.ru</p>
            <p class="mb-5"><b>Стороны</b> – Пользователь и Администрация Сайта.</p>
            <hr>
            <h3 class="mt-4">
                1. ПРЕДМЕТ СОГЛАШЕНИЯ
            </h3>
            <p>1.1. Администрация Сайта на возмездной основе предоставляет возможность Пользователю использовать сервисы Сайта для приобретения Товаров в личных интересах.</p>
            <p>1.2. Любая информация, представленная на Сайте, носит справочный характер. Для уточнения свойств и характеристик Товара, Пользователь должен обратиться к Администрации Сайта.</p>
            <p>1.3. Администрация Сайта не является правообладателем (собственником) Товара и осуществляет лишь функции по размещению информации о Товаре на Сайте и/или содействию в реализации Товара, предоставленного соответствующим собственником для таких целей.</p>
            <p>1.4. Администрация Сайта может предлагать Товар, еще не поступивший в продажу. Такой Товар оформляется как предзаказ. На Сайте указывается срок поступления в продажу такого Товара. Указанный срок может быть изменен на основании информации, полученной от правообладателя (собственника) Товара.</p>
            <h3 class="mt-4">
                2. ПОРЯДОК ЗАКАЗА ТОВАРА
            </h3>
            <p>2.1. Для того чтобы приобрести выбранный Пользователем Товар, Пользователь обязан воспользоваться способами, предложенными на Сайте.</p>
            <p>2.2. Доставка Товара осуществляется моментально после поступления оплаты за исключением некоторых случаев, когда Заказ пользователя нуждается в дополнительной проверке Администрацией Сайта. Список причин, по которым Заказ отправляется на ручную обработку, формируется Администрацией Сайта.</p>
            <p>2.3. До момента заказа Товара Пользователь обязан ознакомиться с условиями доставки, оплаты Товара, характеристиками Товара, путем перехода по активным ссылкам на Сайте.</p>
            <p>2.4. После оформления Заказа и оплаты Товара Пользователь получает ключ активации в личном кабинете на Сайте. Под «личным кабинетом» понимается персональный раздел Пользователя на Сайте, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации на Сайте. Пользователь несет персональную ответственность за сохранность, конфиденциальность полученного ключа активации и доступа в личный кабинет.</p>
            <h3 class="mt-4">
                3. ОПЛАТА ТОВАРА
            </h3>
            <p>3.1. Товар оплачивается до его передачи Пользователю в полном объеме.</p>
            <p>3.2. Расчеты Сторон происходят в безналичной форме с помощью использования программно-технических средств Сайта посредством платежной системы.</p>
            <p>3.3. Товар может быть оплачен любым способом, представленном на Сайте.</p>
            <p>3.4. При проведении оплаты может быть предусмотрена комиссия определенной платежной системы (банка, сотового оператора и т.п.). Данная комиссия оплачивается Пользователем.</p>
            <h3 class="mt-4" id="returnpolicy">
                4. ВОЗВРАТ ТОВАРА
            </h3>
            <p>4.1. Пользователь вправе отказаться от заказа Товара до момента его оплаты.</p>
            <p>4.2. Отказ от Товара после оплаты невозможен, поскольку лицензионные ключи имеют индивидуально-определенные характеристики и не могут быть использованы после их активации третьими лицами.</p>
            <p>4.3. Если возврат денежных средств осуществляется в связи с невозможностью исполнения Администрацией Сайта своих обязательств, то денежные средства возвращаются Пользователю посредством финансового инструмента, который был использован Пользователем при оплате Товара, если иной способ возврата не предусмотрен на Сайте и/или не определен Администрацией.</p>
            <p>4.4. В случае возврата Товара (при достижении отдельного соглашения между Администрацией Сайта и Пользователем) Пользователю возвращается только та денежная сумма, которая уплачена за Товар. Из данной суммы могут быть удержаны расходы, связанные с комиссиями третьих лиц (платежными агрегаторами, агентами, банками, посредниками и т.п.) за передачу и(или) возврат денежных средств.</p>
            <p>4.5. Пользователь соглашается с тем, что возврат денежных средств может осуществляться третьими лицами, действующими по поручению Администрации Сайта, при этом Пользователь обязан принять исполнение, предложенное таким третьим лицом.</p>
            <h3 class="mt-4">
                5. ПРАВА НА ИСПОЛЬЗОВАНИЕ ТОВАРА
            </h3>
            <p>5.1. Права на использование Товара предоставляются Пользователю на основании простой (неисключительной) лицензии. Товар не продается, а предоставляется Пользователю для использования на условиях, определенных настоящим разделом.</p>
            <p>5.2. Если иное не следует из содержания лицензии, лицензия предоставляется на срок, установленный производителем, лицензиаром или Администрацией Сайта.</p>
            <p>5.3. Пользователь вправе использовать Товар только для личного, домашнего, семейного просмотра – исключительно путем его воспроизведения на персональном компьютере или ином персональном устройстве. Иные способы использования не допускаются.</p>
            <p>5.4. Термин «продажа Товара» используется в тексте настоящего Договора исключительно для удобства, должен пониматься как выдача ограниченного права на использование Товара и не может расцениваться как отчуждение исключительного права на Товар в полном объеме или выдача Пользователю исключительной лицензии на использование Товара.</p>
            <p>5.5. Товар (и лицензия на него) может быть использован только на территории Российской Федерации, СНГ, Украины. Использование Товара на другой территории запрещено и влечет за собой ответственность за нарушение интеллектуальных прав.</p>
            <h3 class="mt-4">
                6. ПРАВА И ОБЯЗАННОСТИ СТОРОН
            </h3>
            <p>6.1. Администрация Сайта имеет право переуступать и/или передавать свои права и обязанности, вытекающие из его отношений с Пользователем, третьим лицам.</p>
            <p>6.2. Администрация Сайта может предоставлять Пользователю скидки и бонусы. Их виды, правила начисления и условия получения указаны на Сайте в разделах «Бонус», «Промо-код» и «Скидка».</p>
            <p>6.3. Администрация Сайта может менять скидки и бонусы, а также правила их начисления и условия получения в одностороннем порядке.</p>
            <p>6.4. Пользователь обязуется использовать приобретенный Товар исключительно для личных, домашних, семейных целей, а также целей, не связанных с осуществлением коммерческой деятельности.</p>
            <p>6.5. Администрация Сайта отвечает за работоспособность ключа активации. За технические проблемы игры отвечает издатель или разработчик.</p>
            <p>6.6. Сайт предоставляется по принципу «как есть», то есть без гарантий качества и пригодности для каких-либо явных или подразумеваемых целей. Администрация Сайта не гарантирует, что Сайт будет работать беспрерывно и безошибочно. В случае наличия ошибок и неисправностей Администрация Сайта обязуется устранить их в кратчайшие сроки.</p>
            <p>6.7. Ни одна из Сторон не несет никакой ответственности перед другой Стороной за упущенную выгоду, иные косвенные убытки вне зависимости от того, могла ли такая Сторона предвидеть возможность причинения таких убытков другой Стороне в конкретной ситуации или нет.</p>
            <h3 class="mt-4">
                7. ПРОЧИЕ УСЛОВИЯ
            </h3>
            <p>7.1. При возникновении вопросов, Пользователь имеет право обратиться к Администрации Сайта через форму обратной связи на странице "Поддержка".</p>
            <p>7.2. Все споры и разногласия, возникающие между Сторонами в процессе исполнения настоящего Соглашения, решаются путем переговоров.</p>
            <h3 class="mt-4">
                8. КОНФИДЕНЦИАЛЬНОСТЬ
            </h3>
            <p>8.1. Любая персональная информация, переданная Сторонами друг другу, является конфиденциальной информацией.</p>
            <p>8.2. Пользователь соглашается с условиями, целями и порядком обработки персональных данных на условиях <a href="{% url 'privacy' %}">Политики в области обработки персональных данных</a>, а также дает свое <a href="{% url 'personal-data' %}">Согласие на обработку персональных данных</a>.</p>
            <h3 class="mt-4">
                9. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ
            </h3>
            <p>9.1. Исключительное право на Сайт принадлежит Администрации Сайта.</p>
            <p>9.2. Исключительные права на Товар принадлежат их правообладателям.</p>
            <p>9.3. Пользователь имеет право использовать Товар только в личных некоммерческих целях.</p>
            <p><b>9.4. ПОЛЬЗОВАТЕЛЮ ЗАПРЕЩЕНО загружать на Сайт, воспроизводить, демонстрировать, доводить до всеобщего сведения фото- и иные материалы, в том числе текстовые комментарии, АВТОРОМ КОТОРЫХ ПОЛЬЗОВАТЕЛЬ НЕ ЯВЛЯЕТСЯ (и/или право на использование которого Пользователь не приобрел по договору с правообладателем).</b></p>
            <ul>ПОЛЬЗОВАТЕЛЮ ЗАПРЕЩЕНО загружать на Сайт, воспроизводить, демонстрировать, доводить до всеобщего сведения текстовые материалы (комментарии), включающие любой запрещенный законодательством контент, включая, но не ограничиваясь:
                <li>неоправданные подробности сцен садизма и чрезмерного насилия и жестокости;</li>
                <li>высказывания, направленные на шовинизм и национальную исключительность;</li>
                <li>сведения о способах, методах разработки, использования, местах приобретения и изготовления наркотических средств, психотропных веществ или их прекурсоров;</li>
                <li>методы изготовления и применения оружия;</li>
                <li>материалы, пропагандирующие порнографию, культ насилия и жестокости;</li>
                <li>инструкции или поощрения к преступлению и насилию;</li>
                <li>публичные призывы к осуществлению любой запрещенной законом деятельности (террористической и т.д.);</li>
                <li>материалы, информация об общественном объединении или иной организации, включенных в опубликованный перечень общественных и религиозных объединений, иных организаций, в отношении которых судом принято вступившее в законную силу решение о ликвидации или запрете деятельности без указания на то, что соответствующее общественное объединение или иная организация ликвидированы или их деятельность запрещена;</li>
                <li>эпизоды употребления наркотиков и их последствия;</li>
                <li>информация, побуждающая детей к совершению действий, представляющих угрозу их жизни и (или) здоровью;</li>
                <li>информация, способная вызвать у детей желание употребить наркотические средства, психотропные и (или) одурманивающие вещества, табачные изделия, алкогольную и спиртосодержащую продукцию, принять участие в азартных играх, заниматься проституцией, бродяжничеством или попрошайничеством;</li>
                <li>информация, обосновывающая или оправдывающая допустимость насилия и (или) жестокости либо побуждающая осуществлять насильственные действия по отношению к людям или животным;</li>
                <li>информация, отрицающая семейные ценности;</li>
                <li>информация, оправдывающая противоправное поведение.</li>
            </ul>
            <h3 class="mt-4">
                10. НАРУШЕНИЕ УСЛОВИЙ СОГЛАШЕНИЯ
            </h3>
            <p>10.1. Администрация Сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.</p>
            <p>10.2. Администрация Сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</p>
            <p>10.3. Администрация вправе аннулировать покупки и накопительную скидку в случае возникновения подозрения, что клиент не является потребителем и заказывает товары для нужд, связанных с осуществлением предпринимательской деятельности.</p>
            <h3 class="mt-4">
                11. КОММЕНТАРИИ
            </h3>
            <p>11.1. Запрещается осуществлять множественные покупки и оптовые закупки Товара. Количество Товара, допустимое для покупки отдельным Пользователем, определяется Администрацией индивидуально для каждого Товара. За несоблюдение данного требования аккаунт Пользователя будет заблокирован без предупреждения со стороны Администрации. Без появления риска блокировки аккаунта возможно приобретение только ДВУХ копий одного Товара.</p>
            <p>11.2. Пользователю запрещено оскорблять и выражать какое-либо другое неуважение к другим пользователям Сайта и/или к Администрации Сайта, включая её сотрудников, партнеров, рекламодателей и иных лиц.</p>
            <p>11.3. Пользователю запрещено обсуждать цены Товаров с другими Пользователями посредством Сайта (оставлять комментарии для всеобщего обозрения о ценах на Товар).</p>
            <p>11.4. Запрещается размещать ссылки на любые другие Интернет-сайты и иные ресурсы, в рекламных или иных целях, в том числе на Интернет-сайты, осуществляющие схожую деятельность с Сайтом.</p>
            <h3 class="mt-4">
                12. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
            </h3>
            <p>12.1. Заключая настоящее Соглашение, Пользователь гарантирует, что он обладает полной правоспособностью и дееспособностью, и имеет право заключать настоящее Соглашение.</p>
            <p>12.2. В случае возникновения разногласий между Сторонами, сведения, которые зафиксированы при помощи технических средств Сайта, имеют преимущественное значение при разрешении таких разногласий.</p>
            <p>12.3. Стороны обязуются сообщать друг другу о любом факте несанкционированного разглашения информации третьим лицам.</p>
            <p>12.5. Действующее Соглашение размещено на странице Сайта по адресу: https://xbox-game-store.ru/agreement.</p>
            <p>12.6. Неотъемлемыми частями настоящего Соглашения, которые Пользователь безоговорочно принимает (акцептует) при заключении Соглашения являются:
                <li>Согласие на обработку персональных данных, размещенное на Сайте по адресу: <a href="{% url 'privacy' %}">xbox-game-store.ru/privacy</a></li>
                <li>Политика в области обработки персональных данных, размещенная на Cайте по адресу: <a href="{% url 'personal-data' %}">xbox-game-store.ru/personal-data</a></li>
            </p>
        </div>
    </div>
</section>

{% endblock %}