{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-agreement.css' %}">
{% endblock %}
{% block content %}


<section class="section-one">
    <div class="container">
    </div>
</section>
<section class="section-two">
    <div class="container">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="section-three text-white">
    <div class="container">
        <div class="row">
            <h2 class="col-12 mt-2 mb-5">
                Согласие на обработку персональных данных
            </h2>
            <p>Действуя свободно, по своей воле и в своем интересе, субъект персональных данных (далее – «Пользователь») подтверждает свою дееспособность, дает свое согласие Администрация Сайта (далее – «Оператор») на обработку своих персональных данных и соглашается со следующими условиями:</p>
            <p>1. Согласие на обработку персональных данных предоставляется Пользователем посредством регистрации на сайте xbox-game-store.ru (далее – «Сайт»).</p>
            <p>Оператором обрабатываются следующие персональные данные Пользователя:
                <li>Фамилия, имя, отчество;</li>
                <li>Электронная почта;</li>
                <li>Иная информация, указанная субъектом персональных данных на Сайте.</li>
            </p>
            <p>Также обрабатываются данные, автоматически передающиеся Оператору в процессе посещения и использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения, в том числе: IP-адрес, информация из cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к сайту), время доступа, адрес запрашиваемой страницы и иные.</p>
            <p>Оператором могут обрабатываться и иные персональные данные, непосредственно необходимые для выполнения целей обработки персональных данных. При этом под «обработкой персональных данных» понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p>2. Согласие на обработку персональных данных предоставляется Пользователем одним из следующих способов:</p>
            <p>а) заполнением формы обратной связи на Сайте;</p>
            <p>в) посредством акцепта <a href="{% url 'agreement' %}">Пользовательского соглашения</a> и для целей его исполнения.</p>
            <p>3. Согласие дается на обработку персональных данных, не являющихся специальными или биометрическими.</p>
            <p>4. Персональные данные не являются общедоступными.</p>
            <p>5. Оператор осуществляет обработку персональных данных для следующих целей:</p>
            <p>5.1. для исполнения договора, стороной которого либо выгодоприобретателем или поручителем является субъект персональных данных;</p>
            <p>5.2. для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;</p>
            <p>5.3. для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на Оператора функций, полномочий и обязанностей.</p>
            <p>6. Действия Оператора по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.</p>
            <p>7. Правовые основания обработки персональных данных Пользователя, а также иные вопросы, связанные с обработкой персональных данных Оператором, отражены в документе под названием «Политика в области обработки персональных данных» (далее – «Политика»), расположенном на Сайте Оператора по адресу: https://xbox-game-store.ru/privacy, с которым Пользователь ознакомился и с положениями которого он согласен в полном объеме. Таким образом, согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</p>
            <p>8. Оператор обрабатывает и хранит персональные данные до достижения Оператором целей обработки персональных данных или до утраты необходимости в достижении этих целей.</p>
            <p>9. Обработка персональных данных может быть прекращена по запросу Пользователя или его представителя в порядке, определенном в Политике. Хранение персональных данных, зафиксированных на бумажных носителях, осуществляется согласно Федеральному закону №125-ФЗ Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</p>
            <p>10. В случае отзыва Пользователем или его представителем согласия на обработку персональных данных, Оператор вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований, указанных в п.2 11 ч.1 ст. 6, ч. 2 ст. 10 и ч. 2 ст.11 Федерального закона №152-ФЗ О персональных данных от 27.07.2006 г.</p>
            <p>11. Настоящее согласие является неотъемлемой частью <a href="{% url 'privacy' %}">Политики конфиденциальности</a> и <a href="{% url 'agreement' %}">Пользовательского соглашения</a>.</p>
        </div>
    </div>
</section>

{% endblock %}