<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artworks</title>
</head>
<body>
<h1>Мона Лиза</h1>
<p>«Мо́на Ли́за», или «Джоко́нда» (итал. Mona Lisa, La Gioconda, полное название — «Портре́т госпожи́ Ли́зы дель Джоко́ндо»,
    итал. Ritratto di Monna Lisa del Giocondo) — картина Леонардо да Винчи, одно из самых известных произведений живописи.
    Точная дата написания неизвестна (по некоторым сведениям, написана между 1503 и 1505 годами). Ныне хранится в Лувре.
    Считается, что на картине изображена Лиза Герардини, супруга флорентийского торговца шёлком Франческо дель Джокондо.
</p>
<img src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQsu7yYuRPXNK9eHHSFD2tUYO4stQDb1Ez8vjqGERfs9xqYLLnY_y6lQkPFZa-44cqn" alt="">
</body>
</html>