<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artworks</title>
</head>
<body>
<h1>Звёздная ночь</h1>
<p>«Звёздная ночь» (нидерл. De sterrennacht) — одна из наиболее известных картин нидерландского художника-постимпрессиониста Винсента Ван Гога.
    Представляет вид из восточного окна спальни Ван Гога в Сен-Реми-де-Прованс на предрассветное небо и вымышленную деревню.
    Картина написана в июне 1889 года; с 1941 года хранится в Музее современного искусства в Нью-Йорке.
    По мнению известного астрофизика Нила Тайсона - это первая картина, на которой небо является главным предметом изображения.
</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="">
</body>
</html>