{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style-payment.css' %}">
<link rel="stylesheet" href="{% static 'css/style-navbar-other.css' %}">
{% endblock %}
{% block content %}
{% include 'store/includes/navbar.html' %}

<section class="section-one">
    <div class="container">
    </div>
</section>

<section class="section-two text-white">
    <div class="container">
        <div class="row text-center d-flex flex-column justify-content-center align-items-center mb-5 payment-complete">
                <h1 class="mb-4">Платеж успешно завершен!</h1>
                <p>Для завершения покупки, сообщите об оплате в <span><a href="https://t.me/Small_Hadgehog">поддержку</a></span>.</p>
        </div>
    </div>
</section>
{% endblock %}